<ion-header>
  <ion-toolbar>
    <ion-title>signup</ion-title>
  </ion-toolbar>
  <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">



    <!--Stylesheet-->
</ion-header>

<ion-content class= "signup" style="--background-color: black !important;">
<!-- Background image -->
<!-- <div class="bg-image bgimg"
     style="background-image: url('../../../assets/signup.jpg');
            height: 100vh">
</div> -->
<!-- Background image -->


    <!-- <style media="screen">

    </style> -->

<!-- <body> -->
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <form>
        <h3>Login Here</h3>

        <label for="username">Nom</label>
        <input type="text" placeholder="Nom d'utilisateur" id="username">

        <label for="username">Email</label>
        <input type="text" placeholder="Votre email" id="username">

        <label for="password">Password</label>
        <input type="password" placeholder="Password" id="password">

        <button>S'inscrire</button>
        <!-- <div class="social">
          <div class="go"><i class="fab fa-google"></i>  Google</div>
          <div class="fb"><i class="fab fa-facebook"></i>  Facebook</div>
        </div> -->
    </form>
</ion-content>
